body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#resultEmotionName ,#resultEmotionName2 
{
  color: black;
}
.emotionName
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
  font-size: 15px;
  color: rgb(143, 194, 211);
  padding: 6px;
  border-radius: 10px;
  background-color: rgb(45, 180, 180);
}